html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Ubuntu', sans-serif;
    background: url("images/silhoutte-of-cranes-2344988.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#title {
    font-family: 'Ubuntu', sans-serif;
    
}

#heading {
    font-family: 'Ubuntu', sans-serif;
}

/* Nav-Bar */

#logo1 {
    width: 100px;
    height: auto;
}

.navbar {
    background: rgb(211, 211, 211);
    border-bottom: 3px solid darkgray;
}

.nav-link {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(6, 6, 126);
    font-weight: 500;
}

/* Landing Page */

.landing-page {
    text-align: center;
    margin-top: 30px;
    min-height: 440px;
}


.landing-page h4 {
    color: rgb(211, 211, 211);
    font-size: 1.5rem;
    margin-top: 20px;
    text-shadow: 1px 1px black;
}

#heading-img {
    max-width: 35%;
    opacity: .8;
}

/* Carousel Section */

.carousel-inner {
    min-height: 400px;
}

.info-image {
    width: 40%;
    margin: 10px;
    border-radius: 10px;
}

.info-text {
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px black;
}

.carousel-item {
    padding: 5% 15%;
    opacity: .8;
}

.carousel-item:a {
    padding: 5% 15%;
    opacity: .8;
}

#carousel-item {
    padding: 5% 15%;
    opacity: .8;
}

/* Introduction Section */

#introduction{
    border-top: 4px solid rgb(169, 169, 169);
    background-color: rgb(211, 211, 211);
    opacity: .9;
    text-align: center;
    font-weight: 600;
}

.introduction h3 {
    padding: 15px 0;
}

.introduction p {
    padding: 0 3%;
}


.p-Saftey {
    color: rgb(6, 6, 126);
}

#p-solutions {
    margin-bottom: 0;
    padding-bottom: 16px;
}

/* Recent Projects Section */

#recent-projects {
    background: transparent;
    color: rgb(211, 211, 211);
    border-top: 4px solid rgb(169, 169, 169);
    font-weight: 600;
}

#recent-projects h3 {
    text-align: center;
    padding: 15px 0;
    text-shadow: 1px 1px black;
}

#recent-projects ul {
    list-style: none;
    text-shadow: 1px 1px black;
    padding: 0px  5%;
}

#recent-projects li{
    padding-bottom: 18px;
}

#recent-projects ul li::before {
    content: "\2022";  
    color: rgb(169, 169, 169); 
    font-weight: bold; 
    display: inline-block; 
    width: 1rem; 
    margin-left: -1em; 
}

/* Contact Us Section */

#contact-us {
    border-top: 4px solid rgb(169, 169, 169);
    background-color: rgb(211, 211, 211);
    opacity: .9;
    text-align: center;
    font-weight: 600;
}

#contact-us h3 {
    padding: 15px 0;
}

#hours p {
    line-height: .5;
}

#address {
    padding: 25px 5% 0 5%;
}

#tel-number {
    padding: 0 5% 0 5%;
    color: rgb(6, 6, 126);
}

/* Footer Section */

#footer {
    border-top: 4px solid rgb(169, 169, 169);
    text-align: center;
    background-color: black;
    margin-bottom: 0;
}

.footer-icon {
    margin: 4px 7px;
    color: rgb(211, 211, 211);
    font-size: .7rem;
}

#footer p {
    margin-bottom: 0;
    padding-bottom: 4px;
    color: rgb(211, 211, 211);
    font-size: .7rem;
}

/* Background page */

#background {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("images/background-blank-empty-light-62693.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    text-align: center;
    height:100hv;
}

#background h1{
    color: black;
    font-size: 4rem;
    padding: 40px 0px;
    
}

#background p {
    padding: 0 5%;
    font-weight: 500;
}


.pback2 {
    color:  rgb(6, 6, 126);
   
}

.pback4 {
    color:  rgb(6, 6, 126);
    
}

#background .bottom-link {
    border-top: 4px solid rgb(169, 169, 169);
    padding-top: 10px;
}

.top {
    padding-bottom: 0;
    display: inline;
}

.home{
    padding: 4px 16px;
    display: inline;
}

/* Media Queries */

@media only screen and (min-width: 1120px) {
    .landing-page {
        min-height: 770px;
    }

    .carousel-inner {
        max-height: 440px ;
    }
}


@media only screen and (min-width: 1000px) {
    .landing-page {
        min-height: 685px;
    }

    .carousel-inner {
        min-height: 430px;
        max-height: 440px ;
        overflow: hidden;
    }

}


@media only screen and (max-width: 890px)
{
    .carousel-inner {
        max-height: 440px;
    }

    #background .bottom-link {
        padding-bottom: 10px;
    }
    
    .landing-page {
        max-height: 480px;
    }
     
}

@media only screen and (min-width: 750px)
{
    #recent-projects {
        padding: 0 150px;
    }

    #introduction {
        padding: 0 200px;
    }

    
}

@media (max-width: 500px) {
    #background h1{
        font-size: 3rem;
    }

    .home {
        display: block;
    }

    #heading-img {
        max-width: 60%;
        opacity: .8;
    }

    .landing-page h4 {
        font-size: 1rem;
        padding-top: 5px;
    }

    #info-carousel {
        margin-top: 20px;
    }

    .carousel-inner {
        min-height: 290px;
    }

    .landing-page {
        max-height: 430px;
        min-height: 430px;
    }
}

